<div>
    <h1>Add new student</h1>
</div>
<div>
    <form method="POST" action="/add" >
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" />
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Submit" />
    </form>
</div>