<%- include('partials/header.ejs') %>

<div class="flex flex-vertical login-body">
    <h1>Login</h1>

     <form class="flex flex-vertical createFormBody" method="POST" action="/login" >
        <label for="name">Email: </label>
        <input type="text" id="name" name="email" />
        <label for="email">Password: </label>
        <input type="text" id="email" name="password" />
        <input type="submit" value="Log in" />
    </form>
</div>
