<%- include('partials/header.ejs') %>

<% if (locals.error) { %>
  <div class="error-message">
    <p><%= error %></p>
  </div>
  <% } %>

<div class="flex flex-vertical login-body">
    <h1>Login</h1>

     <form class="flex flex-vertical createFormBody" method="POST" action="/login" >
        <label for="name">Email: </label>
        <input type="text" id="name" name="email" />
        <label for="email">Password: </label>
        <input type="text" id="email" name="password" />
        <input type="submit" value="Log in" />
    </form>
    <hr>
    <div class="flex flex-vertical">
        <div>
            <p>Don't have an account?</p>
        </div>
        <div class="flex flex-horizontal sign-in">
            <div>
                <a href="/register">Register</a>
            </div>   
        </div>
    </div>
</div>
