<%- include('partials/header.ejs') %>

<div class="flex flex-vertical login-body">
    <h1>Registration</h1>

     <form class="flex flex-vertical createFormBody" method="POST" action="/register" >
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" />

        <label for="email">Email</label>
        <input type="text" id="email" name="email" />

        <label for="email">Retype Password</label>
        <input type="text" id="password" name="password" />

        <input type="submit" value="Register" />
    </form>
    <hr>
    <div class="flex flex-vertical">
        <div>
            <p>Already have an account?</p>
        </div>
        <div class="flex flex-horizontal">
            <div>
                <p>Log in</p>
            </div>
            <div>
                <a href="/">Sign in</a>
            </div>   
        </div>
    </div>
</div>